/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&family=Nunito:wght@500&display=swap'); */

:root {

  --purple: #5D3891;
  --purple-tint20: #4a2d74;
  --orange: #F99417;
  --gray: #E8E2E2;

  --base-color: #09192E;
  --gray-color: #525252;

  /* --gray-btn-background: #E8E2E220; */
  --gray-btn-background: #FFFFFF20;

  --content-width: 1024px;
  --content-margin: calc((100vw - var(--content-width)) / 2);
}





body {
  margin: 0;
  background-color: var(--gray);
  color: var(--base-color);
  font-family: 'Nunito', sans-serif;
  width: var(--content-width);
  padding: 0 var(--content-margin);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--content-width);
  margin: 0 var(--content-margin);
  height: 100%;
  z-index: -1;
}
.grid .block {
  height: 100%;
  border-left: 1px dashed  rgb(212, 212, 212);
}
.grid .block:last-of-type {
  border-right: 1px dashed  rgb(212, 212, 212);
}