/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&family=Nunito:wght@500&display=swap'); */

:root {

  --background-color: #0e1111;

  --color_on-black: rgb(180, 180, 180);
  --max-width: 1000px;


  --gradient_orange: linear-gradient(45deg, rgba(255,167,0,1) 0%, rgba(246,208,0,1) 50%, rgba(255,167,0,1) 100%);
  --gradient_purple: linear-gradient(45deg, rgba(192,63,255,1) 0%, rgba(206,105,255,1) 50%, rgba(192,63,255,1) 100%);
  --gradient_green: linear-gradient(135deg, rgba(92,207,0,1) 0%, rgba(116,255,106,1) 50%, rgba(92,207,0,1) 100%);
}





body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--color_on-black);
  font-family: 'Nunito', sans-serif;
}

::selection {
  background: rgba(255,167,0,1);
  color: rgb(97, 0, 146);
}
