#intro {
  height: 80vh;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 124px;
  width: 100%;

  .intro_left {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    gap: 48px;
    height: 100%;
  }

  .intro_text {
    display: flex;
    flex-direction: column;
    padding: 0 18px;

    .intro_slogan {
      font-size: 2.2rem;
      margin: 0;

      .intro_slogan__your {
        color: var(--orange);
      }

      .intro_slogan__us {
        color: var(--purple);
      }
    }

    .intro_subtitle {
      .intro_subtitle_text {
        margin-top: 24px;
        color: var(--gray-color);
        font-size: 1.3rem;
      }
    }
  }

  .intro_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .intro_button {
      position: relative;
      text-decoration: none;
      border-left: 3px var(--purple) solid;

      &:hover {
        border-left: 3px var(--orange) solid;
      }

      .intro_button_content {
        padding-left: 15px;
        width: 100%;

        div {
          font-size: 18px;
          color: var(--base-color);
        }

        p {
          margin: 2px 0;
          font-size: 16px;
          color: var(--gray-color);
        }
      }
    }



  }

  .eye {
    display: flex;
    justify-content: center;
  }
}