#intro {
  height: 80vh;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 124px;
  width: 100%;

  .intro_left {
    display: flex;
    flex-direction: column;
    padding: 12px 18px;
    gap: 24px;
    height: 100%;
  }

  .intro_text {
    display: flex;
    flex-direction: column;

    .intro_slogan {
      font-size: 2.2rem;
      margin: 0;

      .intro_slogan__your {
        color: var(--orange);
      }

      .intro_slogan__us {
        color: var(--purple);
      }
    }

    .intro_subtitle {
      .intro_subtitle_text {
        margin-top: 24px;
        color: var(--gray-color);
        font-size: 1.3rem;
      }
    }
  }

  .intro_buttons {
    display: flex;
    gap: 12px;

    .intro_button {
      text-decoration: none;
      border: 3px var(--purple) solid;
      border-radius: 8px;
      padding: 6px;

      div {
        color: var(--base-color);
      }

      p {
        color: var(--gray-color);
      }
    }



  }

  .eye {
    display: flex;
    justify-content: center;
  }
}