.card {
  width: calc(1000 / 2 - 16px);
  padding: 24px;
  border-radius: 24px;
  box-shadow: 0px 5px 10px 2px rgba(178, 178, 178, 0.2);

  position: relative;

  /* background: rgb(255,167,0);
  background: linear-gradient(45deg, rgba(255,167,0,1) 0%, rgba(246,208,0,1) 50%, rgba(255,167,0,1) 100%); */



  background-size: 200%;
  animation: backgroundAnimation 20s infinite;

  color: #FFF;
  background-color: var(--background-color);
  background-clip: padding-box;
  border: solid 4px transparent;
  border-radius: 1em;
}

.card:before {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -4px;
  border-radius: inherit;
  background: var(--gradient_orange);
  background-size: 250%;
  animation: backgroundMovement 8s infinite;
}

.card_typePurple::before {
  background: var(--gradient_purple);
}
.card_typeGreen::before {
  background: var(--gradient_green);
}


.cardWrap {

}

.buttonWrap {
  display: flex;
  justify-content: flex-end;
}

.button_Link {
  padding: 6px 8px;
  border-radius: 8px;
  text-decoration: none;
  background: var(--gradient_orange);
  background-size: 200%;
  transition: background-position 1s;
  
  font-family: var(--font_default);
  font-style: italic;
  font-weight: 800;
  font-size: 18px;
  color: var(--background-color);
}
.card_typePurple .button_Link {
  background: var(--gradient_purple);
  background-size: 200%;
}
.card_typeGreen .button_Link {
  background: var(--gradient_green);
  background-size: 200%;
}

.button_Link:hover {
  background-position: right;
}



.title {
  color: black;
  font-family: var(--font_title);
  font-size: 24px;
  background: var(--gradient_orange);
  background-size: 200%;
  background-clip: text;
  animation: backgroundMovement 10s infinite;
}

.card_typePurple .title {
  background: var(--gradient_purple);
  background-size: 200%;
  background-clip: text;
  animation: backgroundMovement 10s infinite;
}
.card_typeGreen .title {
  background: var(--gradient_green);
  background-size: 200%;
  background-clip: text;
  animation: backgroundMovement 10s infinite;
}

.title h3 {
  margin-top: 0;
  color: transparent;
}

.description {
  
}

.description p {
  color: var(--color_on-black);
  font-size: 18px;

  font-family: var(--font_default);
}






@keyframes backgroundMovement {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}